<img src="http://www.clipular.com/c/5037071820652544.png?k=ORsfzP9pEHfKqXHFLTgvIvzDDs4">

<img src="http://www.clipular.com/c/6651930802913280.png?k=TWB6U6pkkttMqlzfIQi6oENicWA">

In [2]:
s = 'Hello'
a, b, c, d, e = s
print a, b

H e

<img src="http://www.clipular.com/c/5350533029429248.png?k=Y_k6xvDA7qb2mIPWPUbZV5YIkTI">

In [3]:
def drop_first_last(grade):
#    first, *middle, last = grades   # only in python 3
    a, middle, e = grade[0], grade[1:-1], grade[4]
#    return avg(middle)
    return sum(middle)/len(middle)

grade = [90, 95, 45, 22, 85]
print 'Average : ', drop_first_last(grade)

Average :  54

<img src="http://www.clipular.com/c/6511600665362432.png?k=8fsvi37kG3_cafhG8xBj4aFtpZE">

In [4]:
from collections import deque

def search(lines, pattern, history=5):
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield line, previous_lines   # retrun as a iterator (line, plines)
        previous_lines.append(line)
        
lines = ['string', 'database', 'network', 'string2', 'string3', 'string4', 'string5', 'string6']

rval = search(lines, 'string', 3)

for line, pline in rval:
    print line, pline

string deque([], maxlen=3)
string2 deque(['string', 'database', 'network'], maxlen=3)
string3 deque(['database', 'network', 'string2'], maxlen=3)
string4 deque(['network', 'string2', 'string3'], maxlen=3)
string5 deque(['string2', 'string3', 'string4'], maxlen=3)
string6 deque(['string3', 'string4', 'string5'], maxlen=3)

## Deque Example

In [5]:
from collections import deque

q = deque(maxlen=3)
q.append(1)
q.append(2)
q.append(3)
q

deque([1, 2, 3])

In [6]:
q.append(4)
q

deque([2, 3, 4])

In [7]:
q.append(5)
q

deque([3, 4, 5])

In [8]:
q.pop()

5

In [9]:
q.popleft()

3

In [10]:
q.appendleft(9)
q

deque([9, 4])

<img src="http://www.clipular.com/c/5327858823331840.png?k=cAN-RyFQR2G05p3MVRBAVJ29rVc">

In [11]:
import heapq

portfolio = [ {'name': 'IBM', 'shares': 100, 'price': 91.1},
              {'name': 'AAPL', 'shares': 50, 'price': 543.22},
              {'name': 'FB', 'shares': 200, 'price': 21.09},
              {'name': 'HPQ', 'shares': 35, 'price': 31.75},
              {'name': 'YHOO', 'shares': 45, 'price': 16.35},
              {'name': 'ACME', 'shares': 75, 'price': 115.65} ] 

cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price']) 
print cheap
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price']) 
print expensive

[{'price': 16.35, 'name': 'YHOO', 'shares': 45}, {'price': 21.09, 'name': 'FB', 'shares': 200}, {'price': 31.75, 'name': 'HPQ', 'shares': 35}]
[{'price': 543.22, 'name': 'AAPL', 'shares': 50}, {'price': 115.65, 'name': 'ACME', 'shares': 75}, {'price': 91.1, 'name': 'IBM', 'shares': 100}]

## Heap Examples

In [12]:
import heapq

nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2] 
heap = list(nums)   # make a copied list 'heap'. for keeping the original list nums
heapq.heapify(heap)
heap

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

<img src="http://www.clipular.com/c/4950841896468480.png?k=xygo2dycMGHEem_wBA0MOdy2njQ">

In [13]:
heapq.heappop(heap)

-4

In [14]:
heapq.heappop(heap)

1

Similarly, if N is about the same size as the collection itself, it is usually faster to sort it first and take a slice (i.e., use sorted(items)[:N]  or sorted(items)[-N:]).

In [15]:
sorted(nums)

[-4, 1, 2, 2, 7, 8, 18, 23, 23, 37, 42]

In [16]:
sorted(nums)[:5]

[-4, 1, 2, 2, 7]

In [17]:
sorted(nums)[-5:]

[18, 23, 23, 37, 42]

<img src="http://www.clipular.com/c/5465889542766592.png?k=6Nh06BtsBlEH7vYnGRSoKAHJixQ">

<blockquote>
<p class="parent-word" data-transform-scale-x="0.8182551899137779" data-canvas-width="601.4734999999997"><span class="word">The</span> <span class="word">choice</span> <span class="word">of</span> <span class="word">whether</span> <span class="word">or</span> <span class="word">not</span> <span class="word">to</span> <em><span class="word">use</span> <span class="word">lists</span> <span class="word">or</span> <span class="word">sets</span></em> <span class="word">depends</span> <span class="word">on</span> <span class="word">intended</span> <span class="word">use.</span></p>
<p class="parent-word" data-transform-scale-x="0.8182551899137779" data-canvas-width="601.4734999999997"><span class="word">Use</span> <span class="word">a</span> <strong><span class="word">list</span></strong> <span class="word">if&nbsp;</span><span class="word">you</span> <span class="word">want</span> <span class="word">to</span> <span class="word">preserve</span> <span class="word">the</span> <span class="word">insertion</span> <span class="word">order</span> <span class="word">of</span> <span class="word">the</span> <span class="word">items.</span> <span class="word">Use</span> <span class="word">a</span> <strong><span class="word">set</span></strong> <span class="word">if</span> <span class="word">you</span> <span class="word">want</span> <span class="word">to</span> <span class="word">eliminate&nbsp;</span><span class="word">duplicates</span> <span class="word">(and</span> <span class="word">don&rsquo;t</span> <span class="word">care</span> <span class="word">about</span> <span class="word">the</span> <span class="word">order).</span></p>
<p class="parent-word" data-transform-scale-x="0.8911293436462596" data-canvas-width="602.5000333333332"><span class="word">T<strong>o</strong></span><strong> <span class="word">easily</span> <span class="word">construct</span> <span class="word">such</span> </strong><span class="word"><strong>dictionaries</strong>,</span> <span class="word">you</span> <span class="word">can</span> <span class="word">use</span> <em><strong><span class="word">defaultdict</span></strong></em> <span class="word">in</span> <span class="word">the</span> <span class="word"><strong>collections</strong>&nbsp;</span><span class="word">module.</span></p>
<p class="parent-word" data-transform-scale-x="0.8911293436462596" data-canvas-width="602.5000333333332"><span class="word">A</span> <span class="word">feature</span> <span class="word">of</span> <span style="color: #993300;"><em><strong><span class="word">defaultdict</span></strong></em></span> <span class="word">is</span> <span class="word">that</span> <span class="word">it</span> <span class="word">automatically</span> <span class="word">initializes</span> <span class="word">the</span> <span class="word">first</span> <span class="word">value</span> <span class="word">so&nbsp;</span><span class="word">you</span> <span class="word">can</span> <span class="word">simply</span> <span class="word">focus</span> <span class="word">on</span> <span class="word">adding</span> <span class="word">items.</span> <span class="word">For</span> <span class="word">example:</span></p>
</blockquote>

In [18]:
from collections import defaultdict

d = defaultdict(list)  # list defaultdict

d['a'].append(1)
d['a'].append(2)
d['b'].append(3)
d['c'].append(4)

d

defaultdict(list, {'a': [1, 2], 'b': [3], 'c': [4]})

In [19]:
from collections import defaultdict

d = defaultdict(set)  # list defaultdict

d['a'].add(1)
d['a'].add(2)
d['b'].add(3)
d['c'].add(4)

d

defaultdict(set, {'a': {1, 2}, 'b': {3}, 'c': {4}})

## Discussion :  Constructing a Multivalued Dictionary

### Initialization of the first value can be messy

In [20]:
d = {}  # Regular Dictionary

pairs = [ ('a', 1), ('a', 2), ('b', 1), ('c', 3)]

for key, value in pairs:
    if key not in d:
        d[key] = []  # initialize the list for multi-valued key
    d[key].append(value)

d

{'a': [1, 2], 'b': [1], 'c': [3]}

### Using the default dict. No need to initailze

In [21]:
d = defaultdict(list)

pairs = [ ('a', 1), ('a', 2), ('b', 1), ('c', 3)]
for key, value in pairs:
    d[key].append(value)
    
d

defaultdict(list, {'a': [1, 2], 'b': [1], 'c': [3]})

<img src="http://www.clipular.com/c/5918949234704384.png?k=54hpJ1rV1XQheOxqqOBRtlCOVW0">
<img src="http://www.clipular.com/c/4806161628135424.png?k=eY1EYpP5Vt-kAxgvOk5VXWAnJaE">

<img src="http://www.clipular.com/c/6563611779792896.png?k=o59w7f-8fIWRjch4ql7ardpmrQA">

<img src="http://www.clipular.com/c/5860479328321536.png?k=QeOHOPtGO0GrD1dAVPDPNYu4_Rw">

In [22]:
prices = {   'ACME': 45.23,
             'AAPL': 612.78,
             'IBM': 205.55,
             'HPQ': 37.20,
             'FB': 10.75 }
prices

{'AAPL': 612.78, 'ACME': 45.23, 'FB': 10.75, 'HPQ': 37.2, 'IBM': 205.55}

<img src="http://www.clipular.com/c/6234421998125056.png?k=D_hw9dyNQmNZ_V7PZ1_Cg93QuE0">

In [23]:
min_price = min(zip(prices.values(), prices.keys()))
max_price = max(zip(prices.values(), prices.keys()))
print min_price
print max_price

(10.75, 'FB')
(612.78, 'AAPL')

In [24]:
prices_sorted = sorted(zip(prices.values(), prices.keys()))

print prices_sorted

[(10.75, 'FB'), (37.2, 'HPQ'), (45.23, 'ACME'), (205.55, 'IBM'), (612.78, 'AAPL')]

<img src="http://www.clipular.com/c/4808724247216128.png?k=1R0EurUHgrkTZAHciYxIbcNJrls">

In [25]:
prices_and_names = zip(prices.values(), prices.keys())

print min(prices_and_names)
print max(prices_and_names)  ############################  IN Python 2.x. It is OK!!!!!!!!!!

(10.75, 'FB')
(612.78, 'AAPL')

## Discussion : Calculating with Dictionaries

<blockquote>
<p class="parent-word" data-transform-scale-x="0.8182551899137779" data-canvas-width="601.4734999999997">If you try to perform common data reductions on a dictionary, you&rsquo;ll find that they only process <em><span style="color: #ff0000;"><strong>the keys, not the values</strong></span></em>. For example:</p>
</blockquote>

In [26]:
prices = {   'ACME': 45.23,
             'AAPL': 612.78,
             'IBM': 205.55,
             'HPQ': 37.20,
             'FB': 10.75 }
print min(prices)
print max(prices)

AAPL
IBM

In [27]:
print min(prices.values())
print max(prices.values())  ## You may want to know information about the CORRESPONDING KEYS

10.75
612.78

<img src="http://www.clipular.com/c/5571780485054464.png?k=571ONRmhg71mC4GqxglpyrEs4WQ">

In [28]:
print min(prices, key=lambda k: prices[k])
print max(prices, key=lambda k: prices[k])

FB
AAPL

In [29]:
min_value = prices[min(prices, key=lambda k: prices[k])]
print min_value

10.75

<img src="http://www.clipular.com/c/5112757566570496.png?k=D_c6jkwLPuW7Z6hiDN7INu7kf5o">
<img src="http://www.clipular.com/c/5178675013353472.png?k=O2F_7O4iVxo15ZK8ZhPUP14F05w">

<blockquote>
<div class="parent-word" data-transform-scale-x="0.8498908284270901" data-canvas-width="600.89315"><span class="word">Although</span> <span class="word">similar,</span> <span class="word">the</span><em><span class="word" style="color: #ff0000;"><strong> values()</strong> </span></em><span class="word">method</span> <span class="word">of</span> <span class="word">a</span> <span class="word">dictionary</span> <strong><span style="color: #ff0000;"><span class="word">does</span> <span class="word">not</span> <span class="word">support</span> <span class="word">the</span> <span class="word">set</span> <span class="word">oper‐</span></span></strong></div>
<div class="parent-word" data-transform-scale-x="0.8098104555060922" data-canvas-width="600.8987333333329"><strong><span class="word" style="color: #ff0000;">ations</span></strong> <span class="word">described</span> <span class="word">in</span> <span class="word">this</span> <span class="word">recipe.</span> <span class="word">In</span> <span class="word">part,</span> <span class="word">this</span> <span class="word">is</span> <span class="word">due</span> <span class="word">to</span> <span class="word">the</span> <span class="word">fact</span> <span class="word">that</span> <span class="word">unlike</span> <span class="word">keys,</span> <span class="word">the</span> <span class="word">items</span></div>
<div class="parent-word" data-transform-scale-x="0.808228504176956" data-canvas-width="600.8989500000001"><span class="word">contained</span> <span class="word">in</span> <span class="word">a</span> <span class="word">values</span> <span class="word">view</span> <span class="word">aren&rsquo;t</span> <span class="word">guaranteed</span> <span class="word">to</span> <span class="word">be</span> <span class="word">unique.</span> <span class="word">This</span> <span class="word">alone</span> <span class="word">makes</span> <span class="word">certain</span> <span class="word">set</span></div>
<div class="parent-word" data-transform-scale-x="0.8100159612448001" data-canvas-width="600.89895"><span class="word">operations</span> <span class="word">of</span> <span class="word">questionable</span> <span class="word">utility.</span> <span class="word">However,</span> <span class="word">if</span> <span class="word">you</span> <span class="word">must</span> <span class="word">perform</span> <span class="word">such</span> <span class="word">calculations,</span> <span class="word">they</span></div>
<div class="parent-word" data-transform-scale-x="0.8103589210789207" data-canvas-width="459.4513499999998"><span class="word">can</span> <span class="word">be</span> <span class="word">accomplished</span> <span class="word">by</span> <span class="word">simply</span> <span class="word">converting</span> <span class="word">the</span> <span class="word">values</span> <span class="word">to</span> <span class="word">a</span> <span class="word">set</span> <span class="word">first.</span></div>
<p class="parent-word" data-transform-scale-x="0.8182551899137779" data-canvas-width="601.4734999999997">:</p>
</blockquote>

### In Python 2.x, a.key() makes a list
### use set() such that  set(a.keys())

In [30]:
a = { 'x' : 1,
      'y' : 2,
      'z' : 3 }

b = { 'w' : 10,
      'x' : 11,
      'y' : 2 
    }

# Find keys in common
set(a.keys())  &  set(b.keys())   # Python 2.x, a.keys() returns a LIST.

{'x', 'y'}

In [31]:
set(a.keys()) - set(b.keys())

{'z'}

In [32]:
### Find (key, value) paris in common
set(a.items()) & set(b.items())

{('y', 2)}

<img src="http://www.clipular.com/c/6424819609632768.png?k=5I4SKhMTDTkD_rbO-RAHJ8p7cXw">

In [33]:
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)
            
            
a = [1, 5, 2, 1, 9, 1, 5, 10]

ret_val = dedupe(a)

ret_val

In [34]:
for i in ret_val: 
    print i,
print ''

1 5 2 9 10

In [35]:
### Generator : At this time the Generator ret_val is empty. Because the Generator is exhausted after use.
list(ret_val)

[]

<img src="http://www.clipular.com/c/5867492573708288.png?k=qBJ8PceJjwu-QVKo4YBcMyln7EE">

In [36]:
def dedup_unhashable(items, key=None):
    seen = set()
    print items
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)
    print seen        

a = [ {'x':1, 'y':2},
      {'x':1, 'y':3},
      {'x':1, 'y':2},
      {'x':2, 'y':4}
    ]

ret_val = dedup_unhashable(a, key=lambda d: (d['x'], d['y']))
print list(ret_val)

[{'y': 2, 'x': 1}, {'y': 3, 'x': 1}, {'y': 2, 'x': 1}, {'y': 4, 'x': 2}]
set([(1, 2), (1, 3), (2, 4)])
[{'y': 2, 'x': 1}, {'y': 3, 'x': 1}, {'y': 4, 'x': 2}]

In [37]:
ret_val = dedup_unhashable(a, key=lambda d: (d['x']))

print list(ret_val)

[{'y': 2, 'x': 1}, {'y': 3, 'x': 1}, {'y': 2, 'x': 1}, {'y': 4, 'x': 2}]
set([1, 2])
[{'y': 2, 'x': 1}, {'y': 4, 'x': 2}]

<img src="http://www.clipular.com/c/5905644499763200.png?k=il-maYopUveJGwVRhM-oA7JlQtk">

In [38]:
words = [  'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 
           'eyes','the', 'eyes', 'the', 'eyes', 'the', 'eyes', 
           'not', 'around', 'the','eyes', "don't", 'look', 'around', 
           'the', 'eyes', 'look', 'into','my', 'eyes', "you're", 'under' ] 

from collections import Counter
word_counts = Counter(words)

top_three = word_counts.most_common(3)

print top_three

[('eyes', 8), ('the', 5), ('look', 4)]

In [39]:
word_counts['under']

1

#### If you want to increment the count manually, simply use addition:

In [40]:
morewords = ['why','are','you','not','looking','in','my','eyes']

for word in morewords:
    word_counts[word] += 1 
word_counts

Counter({'are': 1,
         'around': 2,
         "don't": 1,
         'eyes': 9,
         'in': 1,
         'into': 3,
         'look': 4,
         'looking': 1,
         'my': 4,
         'not': 2,
         'the': 5,
         'under': 1,
         'why': 1,
         'you': 1,
         "you're": 1})

#### Or, alternatively, you could use the update() method:

In [41]:
word_counts.update(morewords)
word_counts

Counter({'are': 2,
         'around': 2,
         "don't": 1,
         'eyes': 10,
         'in': 2,
         'into': 3,
         'look': 4,
         'looking': 2,
         'my': 5,
         'not': 3,
         'the': 5,
         'under': 1,
         'why': 2,
         'you': 2,
         "you're": 1})

<img src="http://www.clipular.com/c/5599927922327552.png?k=tT0mE9qR_uJ9WR9wQGRBbzo6HVQ">

<img src="http://www.clipular.com/c/5250973372252160.png?k=TVXFf2XeW0LRcVQ3IG7mkvYpdFI">

In [42]:
rows = [ {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
         {'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
         {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
         {'fname': 'Big', 'lname': 'Jones', 'uid': 1004} ]

In [43]:
from operator import itemgetter

rows_by_fname = sorted(rows, key=itemgetter('fname'))

print rows_by_fname

[{'lname': 'Jones', 'uid': 1004, 'fname': 'Big'}, {'lname': 'Jones', 'uid': 1003, 'fname': 'Brian'}, {'lname': 'Beazley', 'uid': 1002, 'fname': 'David'}, {'lname': 'Cleese', 'uid': 1001, 'fname': 'John'}]

In [44]:
rows_by_uid = sorted(rows, key=itemgetter('uid'))

print rows_by_uid

[{'lname': 'Cleese', 'uid': 1001, 'fname': 'John'}, {'lname': 'Beazley', 'uid': 1002, 'fname': 'David'}, {'lname': 'Jones', 'uid': 1003, 'fname': 'Brian'}, {'lname': 'Jones', 'uid': 1004, 'fname': 'Big'}]

In [45]:
rows_by_lfname = sorted(rows, key=itemgetter('lname', 'fname'))
print rows_by_lfname

[{'lname': 'Beazley', 'uid': 1002, 'fname': 'David'}, {'lname': 'Cleese', 'uid': 1001, 'fname': 'John'}, {'lname': 'Jones', 'uid': 1004, 'fname': 'Big'}, {'lname': 'Jones', 'uid': 1003, 'fname': 'Brian'}]

<img src="http://www.clipular.com/c/5954551728570368.png?k=ea7-K0G6BraCgZ5Zr9zwPNuLDA0">

In [46]:
rows_by_fname = sorted(rows, key=lambda r: r['fname']) 
rows_by_lfname = sorted(rows, key=lambda r: (r['lname'],r['fname'])) 

print rows_by_fname
print rows_by_lfname

[{'lname': 'Jones', 'uid': 1004, 'fname': 'Big'}, {'lname': 'Jones', 'uid': 1003, 'fname': 'Brian'}, {'lname': 'Beazley', 'uid': 1002, 'fname': 'David'}, {'lname': 'Cleese', 'uid': 1001, 'fname': 'John'}]
[{'lname': 'Beazley', 'uid': 1002, 'fname': 'David'}, {'lname': 'Cleese', 'uid': 1001, 'fname': 'John'}, {'lname': 'Jones', 'uid': 1004, 'fname': 'Big'}, {'lname': 'Jones', 'uid': 1003, 'fname': 'Brian'}]

In [47]:
min(rows)

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

In [48]:
min(rows, key=itemgetter('uid'))

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

In [49]:
max(rows)

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

In [50]:
max(rows, key=itemgetter('uid'))

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

In [51]:
max(rows, key=lambda d: (d['uid']))  #### itemgetter typically runs a bit faster

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

<img src="http://www.clipular.com/c/5355956063174656.png?k=wNGLPM-Xi9XPDeFwy2NrGWQTojc">

###  Python »   Documentation » The Python Standard Library » 9. Numeric and Mathematical Modules »
https://docs.python.org/2/library/itertools.html

<img src="http://www.clipular.com/c/5359419685863424.png?k=PEWDwArlh4Yf6AT-LJCyqJApSr4">

<img src="http://www.clipular.com/c/5966957741604864.png?k=CssI23iZFXKsRCGkXPJKUXfWkVs">

In [52]:
rows = [{'address': '5412 N CLARK', 'date': '07/01/2012'},
        {'address': '5148 N CLARK', 'date': '07/04/2012'},
        {'address': '5800 E 58TH', 'date': '07/02/2012'},
        {'address': '2122 N CLARK', 'date': '07/03/2012'},
        {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
        {'address': '1060 W ADDISON', 'date': '07/02/2012'},
        {'address': '4801 N BROADWAY', 'date': '07/01/2012'},
        {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}, ]

In [53]:
from operator import itemgetter
from itertools import groupby

rows.sort(key=itemgetter('date'))
print rows

[{'date': '07/01/2012', 'address': '5412 N CLARK'}, {'date': '07/01/2012', 'address': '4801 N BROADWAY'}, {'date': '07/02/2012', 'address': '5800 E 58TH'}, {'date': '07/02/2012', 'address': '5645 N RAVENSWOOD'}, {'date': '07/02/2012', 'address': '1060 W ADDISON'}, {'date': '07/03/2012', 'address': '2122 N CLARK'}, {'date': '07/04/2012', 'address': '5148 N CLARK'}, {'date': '07/04/2012', 'address': '1039 W GRANVILLE'}]

In [54]:
for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    for i in items:
        print '\t', i

07/01/2012
	{'date': '07/01/2012', 'address': '5412 N CLARK'}
	{'date': '07/01/2012', 'address': '4801 N BROADWAY'}
07/02/2012
	{'date': '07/02/2012', 'address': '5800 E 58TH'}
	{'date': '07/02/2012', 'address': '5645 N RAVENSWOOD'}
	{'date': '07/02/2012', 'address': '1060 W ADDISON'}
07/03/2012
	{'date': '07/03/2012', 'address': '2122 N CLARK'}
07/04/2012
	{'date': '07/04/2012', 'address': '5148 N CLARK'}
	{'date': '07/04/2012', 'address': '1039 W GRANVILLE'}

<img src="http://www.clipular.com/c/5690500729536512.png?k=n0cnKE_FoRFsZ3eqWb-6t0kSaYI">

#### If your goal is to simply group the data together by dates into a large data structure that allows random access, you may have better luck using defaultdict()  to build a multidict, as described in Recipe 1.6. For example:

<img src="http://www.clipular.com/c/6293871157051392.png?k=FnBAMx6NqRbovcNoVZJJMZ2b3k0">

<img src="http://www.clipular.com/c/6685626297745408.png?k=OBVPQShM9QUkpNB3g-2Cl434xMM">

### Generator Expressions

In [55]:
mylist =  [1, 4, -5, 10, -7, 2, 3, -1]

positive = (n for n in mylist if n > 0)

positive

In [56]:
for i in positive:
    print i,
print ''

1 4 10 2 3

### Built-in fileter() function

#### filter() creates an iterator, so if you want to create a list of results, make sure you also use list() as shown.

<img src="http://www.clipular.com/c/4560713239756800.png?k=mNYlPqdc3ecufEGcOPH2VSgycJA">

### With Conditional Expression

<img src="http://www.clipular.com/c/4719211860721664.png?k=i5jI-Oba-KM1nUI0UejeLxCnfpk">

In [57]:
clip_neg = [n if n > 0 else 0 for n in mylist] 
clip_neg

[1, 4, 0, 10, 0, 2, 3, 0]

### Itertools.compress()

<img src="http://www.clipular.com/c/6455501950025728.png?k=Hw8v6dCLrzMDkOd2kT1vRK6ZpKU">

In [58]:
addresses = ['5412 N CLARK',
             '5148 N CLARK',
             '5800 E 58TH',
             '2122 N CLARK',
             '5645 N RAVENSWOOD',
             '1060 W ADDISON',
             '4801 N BROADWAY',
             '1039 W GRANVILLE', ] 

counts = [0, 3, 10, 4, 1, 7, 6, 1]

In [59]:
from itertools import compress

more5 = [ n > 5 for n in counts]

more5  ## Boolean value list

[False, False, True, False, False, True, True, False]

In [60]:
list(compress(addresses, more5))

['5800 E 58TH', '1060 W ADDISON', '4801 N BROADWAY']

<img src="http://www.clipular.com/c/5744284994371584.png?k=epQR9sNAxj0gysoYZSu-rHNawDA">

<img src="http://www.clipular.com/c/6380484675502080.png?k=3ooU6o19KGOidzNhd1OQptkhb10">

In [61]:
prices = {'ACME': 45.23,'AAPL': 612.78,'IBM': 205.55,'HPQ': 37.20,'FB': 10.75 } 

prices

{'AAPL': 612.78, 'ACME': 45.23, 'FB': 10.75, 'HPQ': 37.2, 'IBM': 205.55}

In [62]:
subset1 = { key:value for key,value in prices.iteritems() if value > 200}
### In Python 2.x, iteritems() is the same as the items() in Python 3.x

subset1

{'AAPL': 612.78, 'IBM': 205.55}

<img src="http://www.clipular.com/c/6655975957463040.png?k=t3hMaifxoguJSX2bIEFlWI4PGwY">

In [63]:
tech_names = {'AAPL', 'IBM', 'HPQ', 'MSFT'}

subset2 = { k:v for k,v in prices.items() if k in tech_names}

print subset2

{'HPQ': 37.2, 'AAPL': 612.78, 'IBM': 205.55}

### Discussion

<img src="http://www.clipular.com/c/6527480199643136.png?k=KU6OlfBvme4s3rWrAxfsZ_JfbHA">

<img src="http://www.clipular.com/c/5752646893043712.png?k=DVTerK0tcl2deD8WgWGUEJk6qFw">

<img src="http://www.clipular.com/c/6149648705388544.png?k=Nj5b1a3vdgEj8TPOSSQ4Aix5GYc">

In [64]:
from collections import namedtuple
Subscriber = namedtuple('Subs', ['addr', 'date'])   ## 'Subs' is just Type name

sub = Subscriber('jones@example.com', '2012-10-19')

sub

Subs(addr='jones@example.com', date='2012-10-19')

In [65]:
sub.addr

'jones@example.com'

In [66]:
sub.date

'2012-10-19'

<img src="http://www.clipular.com/c/4566351961391104.png?k=oetgsB07TB08kuJm8CM-tbVS8YM">

In [67]:
len(sub)

2

In [68]:
addr, joined = sub
addr

'jones@example.com'

In [69]:
joined

'2012-10-19'

<img src="http://www.clipular.com/c/6160135002259456.png?k=qc4Kb4Rpf3h4lOM2_vo81MsCSPc">

References to positional elements often make the code a bit less expressive and more dependent on the structure of the records. 

Here is a version that uses a namedtuple:

<img src="http://www.clipular.com/c/5101144646090752.png?k=OqybML20GD2srylBB71oWfuC6lQ">

In [70]:
def compute_cost(records):
    total = 0.0  
    for rec in records:
        total += rec[1] * rec[2]
    return total

In [85]:
def compute_cost(records):
    total = 0.0
    for rec in records:
        #s = Stock(*rec)  ### In Python 3.x
        print rec
        s = Stock(rec[0], rec[1],rec[2]) 
        print s
        total += int(s.shares) * int(s.price)
    return total

In [83]:
from collections import namedtuple 
Stock = namedtuple('Stock', ['name', 'shares', 'price']) 

#stock1 = Stock('AAPL', 3.0, 45.23)
stocks = (['AAPL', 3.0, 45.23], ['HPQ', 3.0, 45.23], ['FB', 3.0, 45.23])
stocks

(['AAPL', 3.0, 45.23], ['HPQ', 3.0, 45.23], ['FB', 3.0, 45.23])

In [86]:
print compute_cost(stocks)

['AAPL', 3.0, 45.23]
Stock(name='AAPL', shares=3.0, price=45.23)
['HPQ', 3.0, 45.23]
Stock(name='HPQ', shares=3.0, price=45.23)
['FB', 3.0, 45.23]
Stock(name='FB', shares=3.0, price=45.23)
405.0

<img src="http://www.clipular.com/c/4809114854359040.png?k=hLcxfxuo3b8iDvXqxvBwiVo5e8I">

<img src="http://www.clipular.com/c/5596134728007680.png?k=u5Jnn32ASvdvHS1efpWjjiQ7MzY">

In [87]:
s = ('ACME', 50, 123.45)

print ','.join(str(x) for x in s)

ACME,50,123.45

In [88]:
portfolio = [{'name':'GOOG', 'shares': 50},
             {'name':'YHOO', 'shares': 75},
             {'name':'AOL', 'shares': 20},  
             {'name':'SCOX', 'shares': 65} ] 
portfolio

[{'name': 'GOOG', 'shares': 50},
 {'name': 'YHOO', 'shares': 75},
 {'name': 'AOL', 'shares': 20},
 {'name': 'SCOX', 'shares': 65}]

In [91]:
min_shares = min(s['shares'] for s in portfolio)

print min_shares

20

<img src="http://www.clipular.com/c/5568870812483584.png?k=xrH5djzsK8FPJ99TrQ3zbrHJIp0">

In [93]:
nums = [1,2,3,4,5]

s = sum([x * x for x in nums])  ###  it introduces an extra step and creates an extra list
print s

###
### if nums was huge, you would end up creating a large temporary data structure to only be used once and discarded.

55

In [ ]:
s = sum(x * x for x in nums)
print s