<h1><strong><span style="color: #993300;">Python Class Project #1</span></strong></h1>

<h1><span style="color: #003300;">Last Log File Analysis</span></h1>

 <h2><span style="color: #339966;"><span style="color: #003300;">■ Project Description</span></span></h2>

<h3><span style="color: #339966;"><span style="color: #003300;">(1) last log format</span></span></h3>

[username], [tty], [IP address], [login time], [used time]

<pre>da14     pts/0        220.149.189.37   Wed Apr 12 17:46 - 17:53  (00:06)
da14     pts/0        220.149.189.37   Wed Apr 12 17:45 - 17:46  (00:01)
da14     pts/0        220.149.189.37   Wed Apr 12 17:44 - 17:45  (00:00)</pre>

<h3><span style="color: #339966;"><span style="color: #003300;">(2) Information that we want to retrieve from the last log file</span></span></h3>

0. login count [total count, count of certain period]

    'da01' : 24 times logins <br>
    'da01' : 12 times logins in Apr. 2017<br>
    
0. loginned IP address by a user

    'da01'
        [220.149.189.xx]
        [11.66.255.xx]
        ...
0. Used time [user, total time of all users ]

    'da01' : 24 hours <br>
    'da01' : 12 hours in Apr. 2017

<h2><span style="color: #339966;"><span style="color: #003300;">■ Warming Up for Last log file</span></span></h2>

0. save the last command result as a log file 'last.log'
0. open the 'last.log'
0. read each line from the 'last.log' file and split by blank
0. make split each field as a variable for a record

In [33]:
with open('last.log') as f:
    for line in f:
        print line

kwool    pts/1        220.149.189.82   Fri Apr 14 11:29   still logged in

kwool    pts/0        220.149.189.82   Fri Apr 14 10:29   still logged in

da22     pts/4        59.29.186.109    Thu Apr 13 15:12 - 15:21  (00:09)

da22     pts/4        59.29.186.109    Thu Apr 13 15:10 - 15:12  (00:01)

da14     pts/5        220.149.189.37   Thu Apr 13 14:37 - 14:41  (00:03)

da22     pts/4        59.29.186.109    Thu Apr 13 14:29 - 14:42  (00:12)

kwool    pts/0        220.149.189.82   Tue Oct  4 16:52 - 11:13 (7+18:20)

kwool    pts/0        220.149.189.82   Tue Jul  5 21:10 - 17:58 (8+20:48)

fp04     pts/3        211.36.131.203   Wed Jun 29 07:31 - 07:36  (00:05)

fp22     pts/0        121.158.184.242  Thu Jun 16 09:06 - 09:50  (00:43)

fp26     pts/0        211.33.160.47    Thu Jun 16 08:28 - 08:45  (00:17)

fp23     pts/1        115.86.134.56    Thu Jun 16 07:35 - 07:35  (00:00)

rean line and split eache filed and make it as a recored field

In [62]:
with open('last.log') as f:
    for line in f:
        uname, tty, ipaddr, day, month, date, _, _, _, utimestr = line.split()
        print uname, tty, ipaddr, day, month, date, utimestr

prof pts/1 220.149.xxx.xxx Fri Apr 14 in
prof pts/0 220.149.xxx.xxx Fri Apr 14 in
da22 pts/4 59.29.186.109 Thu Apr 13 (00:09)
da22 pts/4 59.29.186.109 Thu Apr 13 (00:01)
da14 pts/5 220.149.xxx.37 Thu Apr 13 (00:03)
da22 pts/4 59.29.186.109 Thu Apr 13 (00:12)
prof pts/0 220.149.xxx.xxx Tue Oct 4 (7+18:20)
prof pts/0 220.149.xxx.xxx Tue Jul 5 (8+20:48)
fp04 pts/3 211.36.131.203 Wed Jun 29 (00:05)
fp22 pts/0 121.158.184.242 Thu Jun 16 (00:43)
fp26 pts/0 211.33.160.47 Thu Jun 16 (00:17)
fp23 pts/1 115.86.134.56 Thu Jun 16 (00:00)

<h2><span style="color: #000000;">■&nbsp;Record Management</span></h2>

<img src='http://www.clipular.com/c/6568273136320512.png?k=EHCKLiBo3rEVLHNcIU6eglMDNAE'  width="640">

<h2><span style="color: #000000;">■&nbsp;Implementation</span></h2>

<h3><span style="color: #339966;"><span style="color: #003300;">(1)&nbsp;Construct the list of dictionaries</span></span></h3>

#### Step 1 : save the last command result as a log file 'last.log' and open that file

#### Step 2 : read each line from a file and split the filed of log file.

#### Step 3 : used time calculation
        [case 1] General format              00:00 - 00:04 (00:02)
        [case 2] still logged in             still logged in 
        [case 3] more the one day            (1+16:12)

#### Step 4 : make a dictionary that has the value from each split field

#### Step 5 : Applend the dictionary into a list

In [3]:

lastlist = []  # Initailize the list of dictionaries


with open('last.log') as f:
    for line in f:
        uname, tty, ipaddr, day, month, date, _,_,_, usedtimestr = line.split()
        if usedtimestr != 'in':
            hours, mins = usedtimestr.split(':')
            hours = hours.lstrip('(')
            if '+' in hours:
                d, h = hours.split('+')
                hours = int(d) * 24 + int(h)
            mins = mins.rstrip(')')
        else:
            hours = mins = 0
        utime = int(hours) * 60 + int(mins)
        
        record_n = {'uname':uname, 'tty':tty, 'ipaddr':ipaddr, 'date': {'day':day, 'month':month, 'date':date}, 'utime': utime}
        print record_n
        lastlist.append(record_n)

print 'the number of records', len(lastlist)
print lastlist

{'date': {'date': '14', 'day': 'Fri', 'month': 'Apr'}, 'uname': 'prof', 'tty': 'pts/1', 'ipaddr': '220.149.xxx.xxx', 'utime': 0}
{'date': {'date': '14', 'day': 'Fri', 'month': 'Apr'}, 'uname': 'prof', 'tty': 'pts/0', 'ipaddr': '220.149.xxx.xxx', 'utime': 0}
{'date': {'date': '13', 'day': 'Thu', 'month': 'Apr'}, 'uname': 'da22', 'tty': 'pts/4', 'ipaddr': '59.29.186.109', 'utime': 9}
{'date': {'date': '13', 'day': 'Thu', 'month': 'Apr'}, 'uname': 'da22', 'tty': 'pts/4', 'ipaddr': '59.29.186.109', 'utime': 1}
{'date': {'date': '13', 'day': 'Thu', 'month': 'Apr'}, 'uname': 'da14', 'tty': 'pts/5', 'ipaddr': '220.149.xxx.37', 'utime': 3}
{'date': {'date': '13', 'day': 'Thu', 'month': 'Apr'}, 'uname': 'da22', 'tty': 'pts/4', 'ipaddr': '59.29.186.109', 'utime': 12}
{'date': {'date': '4', 'day': 'Tue', 'month': 'Oct'}, 'uname': 'prof', 'tty': 'pts/0', 'ipaddr': '220.149.xxx.xxx', 'utime': 11180}
{'date': {'date': '5', 'day': 'Tue', 'month': 'Jul'}, 'uname': 'prof', 'tty': 'pts/0', 'ipaddr': '220.149.xxx.xxx', 'utime': 12768}
{'date': {'date': '29', 'day': 'Wed', 'month': 'Jun'}, 'uname': 'fp04', 'tty': 'pts/3', 'ipaddr': '211.36.131.203', 'utime': 5}
{'date': {'date': '16', 'day': 'Thu', 'month': 'Jun'}, 'uname': 'fp22', 'tty': 'pts/0', 'ipaddr': '121.158.184.242', 'utime': 43}
{'date': {'date': '16', 'day': 'Thu', 'month': 'Jun'}, 'uname': 'fp26', 'tty': 'pts/0', 'ipaddr': '211.33.160.47', 'utime': 17}
{'date': {'date': '16', 'day': 'Thu', 'month': 'Jun'}, 'uname': 'fp23', 'tty': 'pts/1', 'ipaddr': '115.86.134.56', 'utime': 0}
the number of records 12
[{'date': {'date': '14', 'day': 'Fri', 'month': 'Apr'}, 'uname': 'prof', 'tty': 'pts/1', 'ipaddr': '220.149.xxx.xxx', 'utime': 0}, {'date': {'date': '14', 'day': 'Fri', 'month': 'Apr'}, 'uname': 'prof', 'tty': 'pts/0', 'ipaddr': '220.149.xxx.xxx', 'utime': 0}, {'date': {'date': '13', 'day': 'Thu', 'month': 'Apr'}, 'uname': 'da22', 'tty': 'pts/4', 'ipaddr': '59.29.186.109', 'utime': 9}, {'date': {'date': '13', 'day': 'Thu', 'month': 'Apr'}, 'uname': 'da22', 'tty': 'pts/4', 'ipaddr': '59.29.186.109', 'utime': 1}, {'date': {'date': '13', 'day': 'Thu', 'month': 'Apr'}, 'uname': 'da14', 'tty': 'pts/5', 'ipaddr': '220.149.xxx.37', 'utime': 3}, {'date': {'date': '13', 'day': 'Thu', 'month': 'Apr'}, 'uname': 'da22', 'tty': 'pts/4', 'ipaddr': '59.29.186.109', 'utime': 12}, {'date': {'date': '4', 'day': 'Tue', 'month': 'Oct'}, 'uname': 'prof', 'tty': 'pts/0', 'ipaddr': '220.149.xxx.xxx', 'utime': 11180}, {'date': {'date': '5', 'day': 'Tue', 'month': 'Jul'}, 'uname': 'prof', 'tty': 'pts/0', 'ipaddr': '220.149.xxx.xxx', 'utime': 12768}, {'date': {'date': '29', 'day': 'Wed', 'month': 'Jun'}, 'uname': 'fp04', 'tty': 'pts/3', 'ipaddr': '211.36.131.203', 'utime': 5}, {'date': {'date': '16', 'day': 'Thu', 'month': 'Jun'}, 'uname': 'fp22', 'tty': 'pts/0', 'ipaddr': '121.158.184.242', 'utime': 43}, {'date': {'date': '16', 'day': 'Thu', 'month': 'Jun'}, 'uname': 'fp26', 'tty': 'pts/0', 'ipaddr': '211.33.160.47', 'utime': 17}, {'date': {'date': '16', 'day': 'Thu', 'month': 'Jun'}, 'uname': 'fp23', 'tty': 'pts/1', 'ipaddr': '115.86.134.56', 'utime': 0}]

<h3><span style="color: #339966;"><span style="color: #003300;">(2)&nbsp;Print record information of a certain user or all users </span></span></h3>

<img src="http://www.clipular.com/c/5574850690416640.png?k=urdRZ7jm37zvU2tMuiHL2koEtn0" width="340">

In [3]:
def print_records(uname=None):
    if uname is not None:
        found = 0
        for rec in lastlist:
            if rec['uname'] == uname:
                if not found: print rec['uname']
                found = 1
                print '\t\t', rec['ipaddr'], rec['date']['day'], rec['date']['month'], rec['date']['date'], rec['tty'], rec['utime']/60,'hours', rec['utime'] % 60, 'mins'
    else:
        for rec in lastlist:
            print rec['uname'], '\t', rec['ipaddr'], '\t', rec['date']['day'], rec['date']['month'], rec['date']['date'], rec['tty'], '\t',rec['utime']/60,'hours', rec['utime'] % 60, 'mins'
    return None

print_records('da22')
print '-' * 100
print_records()

da22
		59.29.186.109 Thu Apr 13 pts/4 0 hours 9 mins
		59.29.186.109 Thu Apr 13 pts/4 0 hours 1 mins
		59.29.186.109 Thu Apr 13 pts/4 0 hours 12 mins
----------------------------------------------------------------------------------------------------
prof 	220.149.xxx.xxx 	Fri Apr 14 pts/1 	0 hours 0 mins
prof 	220.149.xxx.xxx 	Fri Apr 14 pts/0 	0 hours 0 mins
da22 	59.29.186.109 	Thu Apr 13 pts/4 	0 hours 9 mins
da22 	59.29.186.109 	Thu Apr 13 pts/4 	0 hours 1 mins
da14 	220.149.xxx.37 	Thu Apr 13 pts/5 	0 hours 3 mins
da22 	59.29.186.109 	Thu Apr 13 pts/4 	0 hours 12 mins
prof 	220.149.xxx.xxx 	Tue Oct 4 pts/0 	186 hours 20 mins
prof 	220.149.xxx.xxx 	Tue Jul 5 pts/0 	212 hours 48 mins
fp04 	211.36.131.203 	Wed Jun 29 pts/3 	0 hours 5 mins
fp22 	121.158.184.242 	Thu Jun 16 pts/0 	0 hours 43 mins
fp26 	211.33.160.47 	Thu Jun 16 pts/0 	0 hours 17 mins
fp23 	115.86.134.56 	Thu Jun 16 pts/1 	0 hours 0 mins

<h3><span style="color: #339966;"><span style="color: #003300;">(3)&nbsp;Data Retrieval 1 : logged in Count </span></span></h3>

#### (a) certain user without period

In [70]:
# 
# count the logged in number for the certain user account without specific period
#
def logincount(uname):
    lgcnt = 0
    if uname is not None:
        for rec in lastlist:
            if rec['uname'] == uname:
                lgcnt += 1
        return lgcnt
    else:
        return 0

print logincount('da22')

3

#### (b) certain user with period

In [78]:
# 
# count the logged in number for the certain user account with specific period
#
def logincount(uname, month=None):
    lgcnt = 0
    if uname is not None:
        if month is None:
            for rec in lastlist:
                if rec['uname'] == uname:
                    lgcnt += 1
            return lgcnt
        else:
            for rec in lastlist:
                if rec['uname'] == uname and rec['date']['month'] == month:
                    lgcnt += 1
            return lgcnt
    else:
        return 0

print logincount('prof'), 'times'
print logincount('prof', 'Oct'), 'times'

4 times
1 times

#### (c) All users without period

In [12]:
allusers = list(d['uname'] for d in lastlist)
print allusers

allusers = set(d['uname'] for d in lastlist)
print allusers

def logincount_allusers():
    allusers = set(d['uname'] for d in lastlist)
    for username in allusers:
        lgcnt = 0
        for rec in lastlist:
            if username == rec['uname']:
                lgcnt += 1
        print 'user name :', username,  '\t', lgcnt, 'times'
        

logincount_allusers()

['prof', 'prof', 'da22', 'da22', 'da14', 'da22', 'prof', 'prof', 'fp04', 'fp22', 'fp26', 'fp23']
set(['da22', 'fp22', 'fp23', 'fp04', 'fp26', 'da14', 'prof'])
da22
user name : fp22 	1 times
user name : fp23 	1 times
user name : fp04 	1 times
user name : fp26 	1 times
user name : da14 	1 times
user name : prof 	4 times

#### (d) All users with period

In [21]:

def logincount_allusers(month = None):
    allusers = set(d['uname'] for d in lastlist)
    for username in allusers:
        lgcnt = 0 
        for rec in lastlist:
            if username == rec['uname']:
                if month is None:
                    lgcnt += 1
                else:
                    if month == rec['date']['month']:
                        lgcnt += 1
        print 'username :', username, '\t', lgcnt, 'times'
    return None

print 'Allusers All Period'        
logincount_allusers()
print 'Allusers Certain Period'        
logincount_allusers('Apr')

Allusers All Period
username : da22 	3 times
username : fp22 	1 times
username : fp23 	1 times
username : fp04 	1 times
username : fp26 	1 times
username : da14 	1 times
username : prof 	4 times
Allusers Certain Period
username : da22 	3 times
username : fp22 	0 times
username : fp23 	0 times
username : fp04 	0 times
username : fp26 	0 times
username : da14 	1 times
username : prof 	2 times

<h3><span style="color: #339966;"><span style="color: #003300;">(4)&nbsp;Data Retrieval 2 : list of logged in Ip addresses </span></span></h3>

A certain user's logged in ip addresses
<img src="http://www.clipular.com/c/4544000825753600.png?k=RZqi4MfKtWVNpJF509FxMjoVFkc", width="480">

In [7]:
def list_ipaddr(uname):
    iplist = []
    for rec in lastlist:
        if uname == rec['uname']:
            iplist.append(rec['ipaddr'])
    return iplist

uname = 'da22'
iplist = list_ipaddr(uname)
print 'User : ', uname
for ip in iplist:
    print '\t\t', ip

User :  da22
		59.29.186.109
		59.29.186.109
		59.29.186.109

<h3><span style="color: #339966;"><span style="color: #003300;">(5)&nbsp;Data Retrieval 3 : Total Used Time </span></span></h3>
<img src="http://www.clipular.com/c/6322819043688448.png?k=eZQ5TO3X14lJanTDZcjqKJtIDQo" width="480">

(a) Total used time by a user

In [22]:
def usedtime_user(uname):
    tusedtime = 0
    for rec in lastlist:
        if uname == rec['uname']:
            tusedtime += rec['utime']
    return tusedtime



def splitmin(tutime):
    m = tutime % 60
    h = tutime/60
    d = h/24
    h = h % 24
    return d,h,m

tutime = usedtime_user('da22')
d,h,m = splitmin(tutime)
print 'user:', 'da22', '\t', d,'days', h,'hours', m, 'mins'


tutime = usedtime_user('prof')
d,h,m = splitmin(tutime)
print 'user:', 'prof', '\t', d,'days', h,'hours', m, 'mins'

user: da22 	0 days 0 hours 22 mins
user: prof 	16 days 15 hours 8 mins

(b) Total used time by all users

In [51]:
def usedtime_users(uname=None):
    
    if uname is None:
        allusers = set(rec['uname'] for rec in lastlist)
        for user in allusers:
            tusedtime = 0
            for rec in lastlist:
                if user == rec['uname']:
                    tusedtime += rec['utime']
            d,h,m = splitmin(tusedtime)
            print 'user :', user, '\t', d, 'days', h, 'hours', m, 'mins'
    else:
        tusedtime = 0
        for rec in lastlist:
            if uname == rec['uname']:
                tusedtime += rec['utime']
        d,h,m= splitmin(tusedtime)
        print 'user :', uname, '\t', d, 'days', h, 'hours', m, 'mins'

usedtime_users()
usedtime_users('da22')

user : da22 	0 days 0 hours 22 mins
user : fp22 	0 days 0 hours 43 mins
user : fp23 	0 days 0 hours 0 mins
user : fp04 	0 days 0 hours 5 mins
user : fp26 	0 days 0 hours 17 mins
user : da14 	0 days 0 hours 3 mins
user : prof 	16 days 15 hours 8 mins
user : da22 	0 days 0 hours 22 mins

(c) Total used time by a user with period
-- trivial improvement on (a)

(d) Total used time by all users with period

In [52]:
def usedtime_users_period(uname=None, period=None):
    
    if uname is None:
        allusers = set(rec['uname'] for rec in lastlist)
        for user in allusers:
            tusedtime = 0
            for rec in lastlist:
                if user == rec['uname']:
                    if period is None:
                        tusedtime += rec['utime']
                    else:
                        if rec['date']['month'] == period:
                            tusedtime += rec['utime']
                d,h,m = splitmin(tusedtime)
            print 'user :', user, '\t', d, 'days', h, 'hours', m, 'mins'
    else:
        tusedtime = 0
        for rec in lastlist:
            if uname == rec['uname']:
                if period is None:
                    tusedtime += rec['utime']
                else:
                    if rec['date']['month'] == period:
                        tusedtime += rec['utime']
                        
        d,h,m= splitmin(tusedtime)
        print 'user :', uname, '\t', d, 'days', h, 'hours', m, 'mins'

usedtime_users_period(period='Jun')
usedtime_users_period('da22', 'Apr')

user : da22 	0 days 0 hours 0 mins
user : fp22 	0 days 0 hours 43 mins
user : fp23 	0 days 0 hours 0 mins
user : fp04 	0 days 0 hours 5 mins
user : fp26 	0 days 0 hours 17 mins
user : da14 	0 days 0 hours 0 mins
user : prof 	0 days 0 hours 0 mins
user : da22 	0 days 0 hours 22 mins